<footer class="footer bg-dark text-white py-4">
  <div
    class="container d-flex flex-column flex-sm-row gap-3 justify-content-between align-items-center"
  >
    <a href="/" class="navbar-brand">
      <img
        srcset="
          /src/assets/images/logo.png    1x,
          /src/assets/images/logo-2x.png 2x
        "
        src="/src/assets/images/logo.png"
        width="139"
        height="35"
        alt="Monza Motorsports"
      />
    </a>
    <nav aria-label="Footer Navigation">
      <ul class="list-unstyled d-flex mb-0">
        <li class="mx-3">
          <a href="#" class="nav-link" aria-current="page">Inventory</a>
        </li>
        <li class="mx-3">
          <a href="#" class="nav-link">Financing</a>
        </li>
        <li class="mx-3">
          <a href="#" class="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <ul class="navbar-nav gap-3 flex-row align-items-end pe-3">
      <li class="nav-item">
        <a
          href="https://www.facebook.com/"
          class="icon-link icon-link-hover"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Facebook"
        >
          <svg class="icon-facebook" width="25" height="25">
            <use href="/src/assets/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="https://www.instagram.com/"
          class="icon-link icon-link-hover"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Instagram"
        >
          <svg class="icon-instagram" width="25" height="25">
            <use href="/src/assets/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
