<header class="header">
  <div class="container">
    <div>
      <a href="/src/index.html" class="header-logo link">
        <img src="/src/assets/images/logo.png" />
      </a>
    </div>
    <div class="header-wrapper">
      <nav class="header-navigation">
        <ul class="header-list list">
          <li class="header-item">
            <a class="header-link link current" href="">Inventory</a>
          </li>
          <li class="header-item">
            <a class="header-link link" href="">Financing</a>
          </li>
          <li class="header-item">
            <a class="header-link link" href="">Contacts</a>
          </li>
        </ul>
      </nav>
      <ul class="header-list-soc list">
        <li class="header-item-soc">
          <a
            class="header-facebook link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-facebook" width="18" height="18">
              <use href="/src/assets/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-item-soc">
          <a
            class="header-instagram link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-instagram" width="18" height="18">
              <use href="/src/assets/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="menu-open btn" data-menu-open>
        <svg class="icon-menu-open" width="32" height="22">
          <use href="/src/assets/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <div class="container-mob-menu">
      <div class="mob-menu-top">
        <button type="button" class="menu-btn-close btn" data-menu-close>
          <svg class="menu-close-icon" width="14" height="14">
            <use href="/src/assets/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <nav>
          <ul class="mob-menu-list list">
            <li class="mob-menu-item">
              <a class="mob-menu-link link current" href="">Inventory</a>
            </li>
            <li class="mob-menu-item">
              <a class="mob-menu-link link" href="">Financing</a>
            </li>
            <li class="mob-menu-item">
              <a class="mob-menu-link link" href="">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mob-menu-bottom">
        <ul class="mob-menu-list-soc list">
          <li class="mob-menu-item-soc">
            <a
              class="mob-menu-facebook link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mob-menu-icon-facebook" width="32" height="32">
                <use href="/src/assets/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mob-menu-item-soc">
            <a
              class="mob-menu-instagram link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mob-menu-icon-instagram" width="32" height="32">
                <use href="/src/assets/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
