<header class="header" role="banner">
  <div class="container container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
      <div class="container-fluid d-flex flex-grow-1">
        <a href="/" class="navbar-brand">
          <img
            srcset="
              /src/assets/images/logo.png    1x,
              /src/assets/images/logo-2x.png 2x
            "
            src="/src/assets/images/logo.png"
            width="139"
            height="35"
            alt="Monza Motorsports"
          />
        </a>
        <div class="d-flex">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="navbarResponsive"
            aria-label="Navigation Menu"
          >
            <div class="offcanvas-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div
              class="offcanvas-body d-flex gap-4 align-items-md-center flex-column flex-md-row justify-content-between"
            >
              <ul class="navbar-nav gap-4 pe-3">
                <li class="nav-item">
                  <a href="#" class="nav-link" aria-current="page">Inventory</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Financing</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Contacts</a>
                </li>
              </ul>
              <ul class="navbar-nav gap-3 flex-row align-items-end pe-3">
                <li class="nav-item">
                  <a
                    href="https://www.facebook.com/"
                    class="icon-link icon-link-hover"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    aria-label="Facebook"
                  >
                    <svg class="icon-facebook" width="25" height="25">
                      <use href="/src/assets/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="https://www.instagram.com/"
                    class="icon-link icon-link-hover"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    aria-label="Instagram"
                  >
                    <svg class="icon-instagram" width="25" height="25">
                      <use href="/src/assets/sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
