<!-- <header class="header">
  <div class="container">
    <div>
      <a href="/src/index.html" class="header-logo link">
        <img src="/src/assets/images/logo.png" />
      </a>
    </div>
    <div class="header-wrapper">
      <nav class="header-navigation">
        <ul class="header-list list">
          <li class="header-item">
            <a class="header-link link current" href="">Inventory</a>
          </li>
          <li class="header-item">
            <a class="header-link link" href="">Financing</a>
          </li>
          <li class="header-item">
            <a class="header-link link" href="">Contacts</a>
          </li>
        </ul>
      </nav>
      <ul class="header-list-soc list">
        <li class="header-item-soc">
          <a
            class="header-facebook link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-facebook" width="18" height="18">
              <use href="/src/assets/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-item-soc">
          <a
            class="header-instagram link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-instagram" width="18" height="18">
              <use href="/src/assets/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="menu-open btn" data-menu-open>
        <svg class="icon-menu-open" width="32" height="22">
          <use href="/src/assets/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <div class="container-mob-menu">
      <div class="mob-menu-top">
        <button type="button" class="menu-btn-close btn" data-menu-close>
          <svg class="menu-close-icon" width="14" height="14">
            <use href="/src/assets/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <nav>
          <ul class="mob-menu-list list">
            <li class="mob-menu-item">
              <a class="mob-menu-link link current" href="">Inventory</a>
            </li>
            <li class="mob-menu-item">
              <a class="mob-menu-link link" href="">Financing</a>
            </li>
            <li class="mob-menu-item">
              <a class="mob-menu-link link" href="">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mob-menu-bottom">
        <ul class="mob-menu-list-soc list">
          <li class="mob-menu-item-soc">
            <a
              class="mob-menu-facebook link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mob-menu-icon-facebook" width="32" height="32">
                <use href="/src/assets/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mob-menu-item-soc">
            <a
              class="mob-menu-instagram link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mob-menu-icon-instagram" width="32" height="32">
                <use href="/src/assets/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header> -->

<header class="header" role="banner">
  <div class="container container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
      <div class="container-fluid d-flex flex-grow-1">
        <a href="#" class="navbar-brand" alt="Logotype">
          <img
            srcset="
              /src/assets/images/logo.png    1x,
              /src/assets/images/logo-2x.png 2x
            "
            src="/src/assets/images/logo.png"
            width="139"
            height="35"
            alt="Monza Motorsports"
          />
        </a>
        <div class="d-flex">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="navbarResponsive"
            aria-labelledby="offcanvasDarkNavbarLabel"
          >
            <div class="offcanvas-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div
              class="offcanvas-body d-flex gap-4 align-items-md-center flex-column flex-md-row justify-content-between"
            >
              <ul class="navbar-nav gap-4 pe-3">
                <li class="nav-item">
                  <a href="#" class="nav-link" aria-current="page">Inventory</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Financing</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Contacts</a>
                </li>
              </ul>
              <ul class="navbar-nav gap-3 flex-row align-items-end pe-3">
                <li class="nav-item">
                  <a
                    href="https://www.facebook.com/"
                    class="icon-link icon-link-hover"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    alt="Facebook"
                  >
                    <svg class="icon-facebook" width="25" height="25">
                      <use href="/src/assets/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="https://www.instagram.com/"
                    class="icon-link icon-link-hover"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    alt="Instagram"
                  >
                    <svg class="icon-instagram" width="25" height="25">
                      <use href="/src/assets/sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
