<section
  class="hero bg-image text-white"
  aria-label="Hero section with car image"
>
  <div class="container">
    <h1 class="hero-title text-center text-md-start">
      The right way to get a car
    </h1>
    <div class="wrapper-text row">
      <div class="col-md-4 text-center text-md-start mb-3 mb-sm-4">
        <p class="hero-text">
          Monza Motorsports is a boutique-style dealership specializing in
          premium imports. We offer an advanced online vehicle purchasing
          experience with integrated financing and contactless home delivery.
        </p>
      </div>
      <div class="col-md-4 text-center text-md-start">
        <p class="hero-text">
          All of our cars come with a 5 day/500 kilometres no-hassle exchange
          option. Since 2012 Monza Motorsports has been the benchmark for
          innovation in the automotive industry.
        </p>
      </div>
    </div>
    <div class="text-center text-md-start">
      <a
        class="btn btn-hero btn-outline-light"
        href="#offers"
        title="Browse cars"
      >
        Browse cars
      </a>
    </div>
  </div>
</section>
