<section class="newsletter-section bg-dark">
  <div class="container">
    <div class="newsletter-section-wrapper d-flex flex-column flex-md-row">
      <div class="left-section col-md-5">
        <p class="newsletter-section-question text-center text-md-start">
          Haven't found a suitable vehicle?
        </p>
        <p class="newsletter-section-proposition text-center text-md-start">
          Sign up for our newsletter and be the first to know when we publish
          new vehicle offers.
        </p>
      </div>
      <div class="newsletter-right-section col-md align-content-center">
        <form
          class="newsletter-right-section-form row justify-content-center needs-validation"
          novalidate
        >
          <div class="newsletter-wrapper-input col-md-7">
            <label for="inputEmail" class="visually-hidden">Email</label>
            <input
              type="email"
              class="newsletter-section-input form-control text-bg-dark"
              id="inputEmail"
              placeholder="Enter your email"
              required
            />
            <div id="inputEmailFeedback" class="invalid-feedback">
              Incorrect email
            </div>
          </div>
          <div class="newsletter-wrapper-button col-md">
            <button
              type="submit"
              class="newsletter-section-btn btn btn-light"
              disabled
            >
              Subscribe now
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
