.header {
  padding: 18px 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
}

header .icon-link-hover:hover {
  --bs-icon-link-transform: translate3d(0, -0.125rem, 0);
  transform: var(--bs-icon-link-transform);
  fill: var(--brand-color);
}

header .nav-link {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.33;
  color: var(--text-color);
}

header .nav-link:hover,
header .nav-link:focus {
  --bs-icon-link-transform: translate3d(0, -0.125rem, 0);
  transform: var(--bs-icon-link-transform);
  color: var(--brand-color);
}

header .nav-link.current {
  color: var(--brand-color);
}

.navbar-toggler-icon {
  border-color: var(--background-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media screen and (min-width: 576px) {
  .header {
    padding: 18px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 18px 35px;
  }

  header .nav-link {
    color: var(--background-color);
  }

  header .icon-link {
    fill: var(--background-color);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 18px 85px;
  }
}
