@import './normalize.css';
@import './fonts.css';
@import './header.css';
@import './hero.css';
@import './offers-section.css';
@import './newsletter-section.css';
@import './question-section.css';
@import './footer.css';

:root {
  /* colors */
  --text-color: #000000;
  --background-color: #f8f8f8;
  --brand-color: #df4e3c;
  --h2-option-color: #aeaeae;
  --text-possible-option-color: #8d8d8d;
  --validation-color: #507a36;
  --error-color: #ff2307;
  --border-color: #bdbdbd;
  --shadow-select: #c4c4c4;
  --background-select: #ffffff;

  /* fonts */
  --main-font: 'Noto Sans', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
