.offers-section {
  padding: 50px 0;
}

.offers-section-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: var(--h2-option-color);
  margin-bottom: 30px;
}

.filter-wrapper {
  gap: 20px;
}

.select-wrapper {
  flex-direction: column;
  gap: 10px;
  margin-bottom: 24px;
}

.styled-dropdown {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 15px;
  height: 48px;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  outline: 0;

  position: relative;
  padding: 13px 35px 13px 16px;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.styled-dropdown:hover {
  border-color: var(--text-possible-option-color);
}

.offers-custom-select-wrapper-sort {
  display: block;
  position: relative;
}

.offers-styled-dropdown-sort {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  border: none;
  color: var(--text-possible-option-color);
  background-color: var(--background-color);
  outline: 0;

  position: relative;
  padding-right: 0;
  margin-left: 8px;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  white-space: nowrap;
}

.offers-styled-dropdown-sort:hover {
  color: var(--brand-color);
}

.offers-option-list-sort {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  cursor: pointer;
  width: 191px;
  overflow-y: auto;
  z-index: 2;
  user-select: none;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 12px 12px 0 12px;
  background-color: var(--background-select);
  color: var(--text-color);

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.offers-option-list-sort::-webkit-scrollbar {
  display: none;
}

.offers-option-item-sort span {
  display: block;
  padding: 0 0 12px 0;
}

.offers-option-item-sort span:hover {
  color: var(--brand-color);
}

.offers-option-list-sort .offers-selected-sort {
  color: var(--brand-color);
}

.styled-dropdown:after {
  content: '';
  display: block;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 14px;
  transition: all 0.27s ease-in-out;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTEyLjc5NSAzLjM1MyA3LjAwMSA5LjE0OSAxLjIwNiAzLjM1MmEuNzA2LjcwNiAwIDEgMC0xIDFsNi4yOTUgNi4yOTZhLjcwNS43MDUgMCAwIDAgLjk5OCAwbDYuMjk0LTYuMjk2YS43MDYuNzA2IDAgMSAwLS45OTgtMVoiLz4KPC9zdmc+Cg==');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  transition: all 0.27s ease-in-out;
}

.custom-select option {
  padding: 16px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0px 0px 27px 0px var(--shadow-select);
}

.btn-filter-wrapper {
  display: flex;
  justify-content: center;
}

.btn-filter {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  height: 48px;
  width: 100%;
  border-radius: 15px;
  background-color: var(--brand-color);
  color: var(--background-color);
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--background-color);
  color: var(--brand-color);
  border: 2px solid var(--brand-color);
}

.btn-filter:disabled {
  background-color: var(--brand-color);
  color: var(--background-color);
  opacity: 0.4;
}

.btn-filter:active {
  background-color: var(--brand-color);
  color: var(--background-color);
}

.wrapper-check-sort {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.form-check-input {
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-color);
  margin-right: 8px;
}

.form-check-input:checked {
  background-color: var(--brand-color);
  border: none;
}

.form-check-input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.form-check-label {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.52px;
  color: rgb(141, 141, 141);
}

.form-check-input:checked + .form-check-label {
  color: var(--brand-color);
}

.wrapper-sort {
  display: flex;
  align-items: center;
}

.sort-label {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  width: 60px;
  margin-right: 16px;
  color: var(--text-color);
}

.custom-select-wrapper {
  display: block;
  position: relative;
}

.custom-select-wrapper.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.option-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  max-height: 253px;
  overflow-y: auto;
  z-index: 2;
  background: #fff;
  user-select: none;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 16px 16px 0 16px;
  background-color: var(--background-color);

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.option-list::-webkit-scrollbar {
  display: none;
}

.option-item span {
  display: block;
  padding: 0 16px 20px 0;
}

.option-item:first-child span {
  font-weight: 600;
  font-size: 15px;
  line-height: 0.77;
}

.option-item span:hover {
  color: var(--brand-color);
}

.styled-dropdown:after {
  content: '';
  display: block;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 14px;
  transition: all 0.27s ease-in-out;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTEyLjc5NSAzLjM1MyA3LjAwMSA5LjE0OSAxLjIwNiAzLjM1MmEuNzA2LjcwNiAwIDEgMC0xIDFsNi4yOTUgNi4yOTZhLjcwNS43MDUgMCAwIDAgLjk5OCAwbDYuMjk0LTYuMjk2YS43MDYuNzA2IDAgMSAwLS45OTgtMVoiLz4KPC9zdmc+Cg==');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  transition: all 0.27s ease-in-out;
}

.offers-wrapper-card {
  gap: 20px;
}

.offers-card {
  box-shadow: 0px 0px 18px 0px rgba(68, 68, 68, 0.09);
  background-color: var(--background-select);
}

.offers-img-car {
  height: 200px;
  object-fit: cover;
}

.offers-new-car {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  position: absolute;
  bottom: 0;
  background-color: var(--text-color);
  color: var(--background-select);
  padding: 3px 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.offers-sold-car-overlay {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1, 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offers-sold-card img {
  filter: grayscale(100%);
}

.offers-sold-card .offers-year-car,
.offers-sold-card .card-text {
  color: var(--shadow-select);
}

.offers-sold-card .card-title,
.offers-sold-card .offers-price-car {
  color: var(--text-possible-option-color);
}

.offers-sold-card[style*='display: none;'] {
  display: none;
}

.offers-wrapper-information-car {
  padding: 20px;
}

.offers-year-car {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.53;
  color: var(--text-possible-option-color);
}

.offers-title-car {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  color: var(--text-color);
}

.offers-characteristics-car {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.36;
  color: var(--text-possible-option-color);
  margin: 16px 0 26px 0;
}

.offers-price-car {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
  color: var(--text-color);
}

@media screen and (min-width: 576px) {
  .offers-section {
    padding: 60px 0;
  }

  .offers-section-title {
    font-size: 30px;
  }

  .offers-wrapper-card {
    gap: 10px;
  }

  .offers-wrapper-card > * {
    width: 49%;
  }
}

@media screen and (min-width: 768px) {
  .offers-section {
    padding: 80px 35px;
  }

  .offers-section-title {
    font-size: 48px;
    margin-bottom: 60px;
  }

  .select-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    width: 100%;
  }

  .custom-select-wrapper {
    max-width: 170px;
  }

  .filter-item {
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper-check-sort {
    flex-direction: row;
    align-items: start;
  }

  .offers-wrapper-card {
    gap: 20px;
  }

  .offers-wrapper-card > * {
    width: 31.333333%;
  }
}

@media screen and (min-width: 1200px) {
  .offers-section {
    padding: 100px 85px;
  }

  .offers-section-title {
    font-size: 50px;
    margin-bottom: 80px;
  }

  .select-wrapper {
    gap: 20px;
  }

  .offers-card {
    max-width: 295px;
  }

  .offers-wrapper-card > * {
    width: 23.3333%;
  }
}
